<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud de egreso</title>
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="/plugins/summernote/summernote-bs4.min.css">
    <link href="/css/select.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/btnClose.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
</head>
<body class="container-fluid">
    <div class="row">
        <div class="col-sm-12 mt-3">
            <h2 class="text-center">Solicitud de egreso #{{solicitudEgreso.NumeroSolicitud}}</h2>
        </div>
        <div class="col-sm-12">
            <p><strong>Fecha:</strong> {{solicitudEgreso.Fecha}}</p>
            <p><strong>Monto total:</strong> {{solicitudEgreso.MontoTotal}}</p>
        </div>
    </div>
     <div class="table-responsive mt-4">
             <table class="table table-hover table-sm">
                 <thead class="">
                     <tr>
                         <th class="h6 text-dark text-center"><strong>Comentario</strong></th>
                         <th class="h6 text-dark text-center"><strong>Monto</strong></th>
                     </tr>
                 </thead>
                 <tbody>
                     {{#each solicitudEgreso.Egresos}}
                     <tr>
                         <td class="h6 text-center">{{Comentario}}</td>
                         <td class="h6 text-center">{{Monto}}</td>
                     </tr>
                     {{/each}}
                 </tbody>
             </table>
     </div>
</body>
<script>
    window.print()
</script>
</html>