<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                 <h1 class="m-0">Devoluciones</h1>
            </div>
            <div class="col-sm-6 text-right">
                <a href="/realizar-devolucion" class="btn btn-info">Realizar devolución</a>
            </div>
            <div class="col-sm-12 mt-2" id="insertarError">
                {{>success}}
                {{>errors}}
            </div>    
        </div>
    </div>
</div>
<section class="content">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-12">
                    <h4>Todas las devoluciones</h4>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                    <table id="example1" class="table table-bordered table-hover ">
                        <thead>
                            <tr>
                                <th class="text-center">Fecha</th>
                                <th class="text-center">Recibo</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Cliente</th>
                                <th class="text-center">Cantidad total</th>
                                <th class="text-center">Precio total</th>
                                <th class="text-center">Ver recibo</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            {{#each devoluciones}}
                            <tr>
                                <td class="text-center">{{Fecha}}</td>
                                <td class="text-center">{{Recibo}}</td>
                                <td class="text-center">{{Estado}}</td>
                                <td class="text-center">{{Cliente}}</td>
                                <td class="text-center">{{CantidadTotal}}</td>
                                <td class="text-center">{{PrecioTotal}}</td>
                                <td class="text-center"><a href="/ver-recibo-devolucion/{{Recibo}}" target="_blank"><i class="fas fa-file-alt" style="font-size: 22px;"></i></a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</section>