<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                 <h1 class="m-0">Usuarios administrativos</h1>
            </div>
            <div class="col-sm-12">
                {{>success}}
                {{>errors}}
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="card">
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Roles</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr>
                        <td><a href='/ver-usuario-administrativo/{{_id}}' class="text-info">{{Nombres}} {{Apellidos}}</a></td>
                        <td>{{email}}</td>
                        <td>{{Role}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>