<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte de vendedores</title>
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="/plugins/summernote/summernote-bs4.min.css">
    <link href="/css/select.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/btnClose.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
</head>
<body class="container-fluid">
    <div class="row">
        <div class="col-sm-12 mt-3">
            <h2 class="text-center">Reporte de ventas</h2>
        </div>
        <div class="col-sm-12 mt-3">
            <h4>{{nombre}}</h4>
        </div>
    </div>
     <div class="table-responsive mt-4">
             <table class="table table-hover table-sm">
                 <thead class="">
                     <tr>
                         <th class="h6 text-dark"><strong>Número</strong></th>
                         <th class="h6 text-dark"><strong>Registro</strong></th>
                         <th class="h6 text-dark"><strong>Vencimiento</strong></th>
                         <th class="h6 text-dark"><strong>Cliente</strong></th>
                         <th class="h6 text-dark"><strong>Neto</strong></th>
                         <th class="h6 text-dark"><strong>Saldo</strong></th>
                     </tr>
                 </thead>
                 <tbody>
                     {{#each notasEntrega}}
                     <tr>
                         <td class="h6">{{Numero}}</td>
                         <td class="h6">{{Fecha}}</td>
                         <td class="h6">{{Vencimiento}}</td>
                         <td class="h6">{{Cliente}}</td>
                         <td class="h6">{{Neto}}</td>
                         <td class="h6">{{Saldo}}</td>
                     </tr>
                     {{/each}}
                 </tbody>
                 <tfoot>
                     <tr>
                         <td colspan="4" class="text-danger text-right">TOTALES:</td>
                         <td class="h6">{{netoTotal}}</td>
                         <td class="h6">{{saldoTotal}}</td>
                     </tr>
                 </tfoot>

             </table>
     </div>
</body>
<script>
    window.print()
</script>
</html>