<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="/plugins/summernote/summernote-bs4.min.css">
    <link href="/css/select.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/btnClose.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center">Orden de compra {{ordenesComprasClientes.Numero}} <span class="text-muted">({{ordenesComprasClientes.Estado}})</span> </h2>
            </div>
            <div class="col-sm-6">
                <p class="h3">Fecha: {{ordenesComprasClientes.Fecha}}</p>
            </div>
            <div class="col-sm-6  text-right">
                <p class="h3">Solicitado por: {{ordenesComprasClientes.SolicitadoPor}} </p>
            </div>
            <div class="col-sm-6">
                <p class="h3">Cliente: {{ordenesComprasClientes.Cliente}} </p>
            </div>
            <div class="col-sm-6  text-right">
                <p class="h3">Vendedor: {{ordenesComprasClientes.Vendedor}} </p>
            </div>
            <div class="col-sm-6">
                <p class="h3">Cantidad total: {{ordenesComprasClientes.CantidadTotal}}</p>
            </div>
            <div class="col-sm-6  text-right">
                <p class="h3">Precio total: {{ordenesComprasClientes.PrecioTotal}}</p>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Código<span style="opacity: 0;">zzzzzzzzz</span></th>
                    <th scope="col">Tipo producto</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio unitario</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio total</th>
                </tr>
            </thead>
            <tbody>
                {{#each ordenesComprasClientes.Productos}}
                    <tr>
                        <td class="text-dark h5">{{Codigo}}</td>
                        <td class="text-dark h5">{{TipoProducto}}</td>
                        <td class="text-dark h5">{{Descripcion}}</td>
                        <td class="text-dark h5">{{PrecioFOBUnitario}}</td>
                        <td class="text-dark h5">{{Cantidad}}</td>
                        <td class="text-dark h5">{{PrecioFOBTotal}}</td>
                    </tr>
                {{/each}}
                <tfoot class="border-top">
                    <tr>
                        <td class="text-right" colspan="4">Total</td>
                        <td class="h5">{{ordenesComprasClientes.CantidadTotal}}</td>
                        <td class="h5">{{ordenesComprasClientes.PrecioTotal}}</td>
                    </tr>
                </tfoot>
            </tbody>
        </table>
    </div>
</body>
<script>
    window.print()
</script>
</html>