<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Titulo}}</title>
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="/plugins/summernote/summernote-bs4.min.css">
    <link href="/css/select.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/btnClose.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
</head>
<body>
    {{#if notaEntrega.Anulada}}
    <style>
        body{
            background-image: url("/images/anulada.png") !important;
            background-position: center center !important;
            background-repeat: no-repeat !important;.
            background-attachment: fixed !important;
            background-size: 780px 220px !important;
        }
        .table-borderless > tbody > tr > td,
        .table-borderless > tbody > tr > th,
        .table-borderless > tfoot > tr > td,
        .table-borderless > tfoot > tr > th,
        .table-borderless > thead > tr > td,
        .table-borderless > thead > tr > th {
            border: none;
        }
    </style>
    {{/if }}
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4>Recibo de comisiones</h4>
            </div>
            <div class="col-sm-6">
                <p class="" style="line-height:6pt;">Fecha: {{nota.Fecha}}</p>
            </div>
            <div class="col-sm-6 text-right">
                <p class="" style="line-height:6pt;">Nota: {{nota.Numero}} </p>
            </div>
            <div class="col-sm-12">
                <p class="" style="line-height:6pt;">Vendedor: {{nota.Vendedor}}</p>
            </div>
            <div class="col-sm-12">
                <p class="" style="line-height:6pt;">Cédula: {{nota.Cedula}}</p>
            </div>
            <div class="col-sm-12">
                <p class="" style="line-height:6pt;">Dirección: {{nota.Direccion}}</p>
            </div>
            <div class="col-sm-12 text-right">
                <p class="" style="line-height:6pt;">Modalidad de pago: {{nota.Modalidad}}</p>
            </div>
            <div class="col-sm-12 text-right">
                <p class="" style="line-height:6pt;">Número de referencia: {{nota.Transaccion}}</p>
            </div>
        </div>
        <table class="table table-borderless">
            <thead class="border-bottom border-top border-dark">
                <tr>
                    <th scope="col">Calculo de comisión</th>
                    <th scope="col">Saldo</th>
                    <th scope="col">Estado calculo</th>
                    <th scope="col" class="text-right">Monto cancelado</th>
                </tr>
            </thead>
            <tbody>
                {{#each nota.Facturas}}
                    <tr style="line-height:6pt;">
                        <td class="text-dark">{{CalculoComision}}</td>
                        <td class="text-dark">{{Saldo}}</td>
                        <td class="text-dark">{{Estado}}</td>
                        <td class="text-dark text-right">{{Apagar}}</td>
                    </tr>
                {{/each}}
                <tfoot class="">
                    <tr style="line-height:1pt;">
                        <td colspan="3"></td>
                        <td class="border-top border-dark text-right">Total: {{nota.Monto}}</td>
                    </tr>
                </tfoot>
            </tbody>
        </table>
    </div>
</body>
<script>
    window.print()
</script>
</html>